**/*.log
**/secrets.yaml
**/.storage*
**/.cloud*
**/$haPath*
**/tts*
**/deps*
.vscode*
HomeAssistant/.sonoff.json
HomeAssistant/home-assistant.log.fault
HomeAssistant/home-assistant.log.1
HomeAssistant/home-assistant_v2.db
